{% extends 'base.html.twig' %}

{% block title %}Symfoflegend | Inscription{% endblock %}

{% block stylesheets %}
    <style>
        .border {
            padding: 15px;
            box-shadow: 1px 1px 2px;
        }
        h2{
            font-size: 35px;
        }
    </style>
{% endblock %}


{% block body %}
<div class="row">
    <div class="col-lg-8 offset-2">
        <h2 class="mt-4 mb-3">
        {% if modify %}
            Mettre à jour !
        {% else %}
            S'inscrire !
        {% endif %}
        </h2>
    

        <div class="border mb-5">
                {{ form_start(formRegistration) }}
                {{ form_row(formRegistration.nickname, {'label': 'Pseudo', 'attr': {'placeholder': 'Entrez votre pseudo'}}) }}
                {{ form_row(formRegistration.email, {'label': 'Email', 'attr': {'placeholder': 'Entrez votre email'}}) }}
                {{ form_row(formRegistration.password, {'label': 'Mot de passe', 'attr': {'placeholder': 'Entrez votre mot de passe'}}) }}
                {{ form_row(formRegistration.confirm_password, {'label': 'Validation', 'attr': {'placeholder': 'Confirmez votre mot de passe'}}) }}
                <button type="submit" class="btn btn-success">
                    {% if modify %}
                        Enregistrer les modifications
                    {% else %}
                        S'enregistrer
                    {% endif %}
                </button>
                {{ form_end(formRegistration) }}
        </div>
    </div> 
</div>
{% endblock %}